@use "../abstracts/variables" as *;

body.vtp-zen-mode {
    .workspace-split.mod-root {
        .workspace-tabs:not(.mod-active) {
            display: none;
        }
    }

    .vtp-container {
        background-color: $bg-primary;
        border-right: none;
    }
}
